<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: "tawmae" }}</title>
  <meta name="description" content="{{ page.description | default: 'A collection of Streamer.bot extensions for Twitch and OBS.' }}">
  <meta name="keywords" content="{{ page.keywords | default: 'Streamerbot, Streaming, Twitch, OBS, Widgets, Streamer.bot' }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="icon" href="{{ site.baseurl }}/assets/page-design/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/js/script.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-csharp.min.js"></script>
</head>
<body>
  <header>
    <div class="header-left">
      <div class="logo">
        <img src="{{ site.baseurl }}/assets/page-design/logo-1.png" alt="Logo">
      </div>
    </div>
    <nav class="header-center">
      <ul>
        <li><a href="{{ site.baseurl }}/">START</a></li>
        <li class="dropdown">
          <a href="{{ site.baseurl }}/obs-widgets.html">OBS WIDGETS <span class="arrow">&#9662;</span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/obs-widgets/ad-notification.html">AD NOTIFICATION</a></li>
            <li><a href="{{ site.baseurl }}/obs-widgets/basic-alerts.html">BASIC ALERTS</a></li>
            <li><a href="{{ site.baseurl }}/obs-widgets/dynamic-timers.html">DYNAMIC TIMERS</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/commissions.html">COMMISSIONS</a></li>
      </ul>
    </nav>
    <div class="header-right">
      <a href="https://discord.com/invite/gEm5UMSvYs" target="_blank" class="need-help">
  Need help? <span class="iconify" data-icon="simple-icons:discord"></span>
</a>
</a>

      <a href="https://ko-fi.com/tawmae" target="_blank">
  <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
  <script type='text/javascript'>kofiwidget2.init('Support me on Ko-fi', '#ba9d6a', 'P5P7RA8SG');kofiwidget2.draw();</script>
</a>      
      <a href="https://bsky.app/profile/tawmae.xyz" target="_blank">
        <span class="iconify" data-icon="simple-icons:bluesky"></span>
      </a>
      <a href="https://www.twitch.tv/tawmae" target="_blank">
        <span class="iconify" data-icon="simple-icons:twitch"></span>
      </a>
      <a href="https://www.youtube.com/@tawmae" target="_blank">
        <span class="iconify" data-icon="simple-icons:youtube"></span>
      </a>
    </div>
  </header>
