<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tawmae - Header mit Dropdown</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</head>
<body>
  <header>
    <div class="header-left">
      <div class="logo">
        <img src="logo.png" alt="Logo">
      </div>
    </div>
    <nav class="header-center">
      <ul>
        <li><a href="#">Start</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">OBS Widgets <span class="arrow">&#9662;</span></a>
          <ul class="dropdown-menu">
            <li><a href="#">AD NOTIFICATION</a></li>
            <li><a href="#">BASIC ALERTS</a></li>
            <li><a href="#">DYNAMIC TIMERS</a></li>
          </ul>
        </li>
        <li><a href="#">Hinweise</a></li>
        <li><a href="#">Import</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Dynamisch</a></li>
        <li><a href="#">Commissions</a></li>
      </ul>
    </nav>
    <div class="header-right">
      <a href="https://discord.com/invite/gEm5UMSvYs" target="_blank" class="need-help">Need help? <span class="iconify" data-icon="skill-icons:discord"></span></a>
      <a href="#"><span class="iconify" data-icon="logos:spotify-icon"></span></a>
      <a href="#"><span class="iconify" data-icon="logos:facebook"></span></a>
      <a href="#"><span class="iconify" data-icon="logos:twitter"></span></a>
    </div>
  </header>
</body>
</html>
