<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: "tawmae" }}</title>
    <!------------------------------------------------------>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="icon" href="{{ site.baseurl }}/assets/page-design/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script defer src="{{ site.baseurl }}/assets/js/script.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-csharp.min.js"></script>
    <script defer src="{{ site.baseurl }}/assets/js/extension-script.js"></script>
</head>

<body>
    <header>
        <div class="header-left">
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/assets/page-design/logo-2.png" alt="Logo">
            </a>
        </div>
        <nav class="header-center">
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/">
                        <span class="iconify nav-icon" data-icon="mdi:home"></span> START
                    </a>
                </li>
                <!------------------------------------------------------>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle">
                        <span class="iconify nav-icon" data-icon="simple-icons:obsstudio"></span> OBS WIDGETS
                        <span class="arrow">&#9662;</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ site.baseurl }}/obs-widgets/ad-notification.html">
                                <span class="iconify nav-icon-child" data-icon="ri:advertisement-fill"></span> AD
                                NOTIFICATION
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/obs-widgets/basic-alerts.html">
                                <span class="iconify nav-icon-child"
                                    data-icon="ic:baseline-notifications-active"></span> BASIC ALERTS
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/obs-widgets/dynamic-timers.html">
                                <span class="iconify nav-icon-child" data-icon="solar:stopwatch-bold"></span> DYNAMIC
                                TIMERS
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/obs-widgets/event-list.html">
                                <span class="iconify nav-icon-child" data-icon="material-symbols:event-list"></span>
                                EVENT LIST
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/obs-widgets/hot-words.html">
                                <span class="iconify nav-icon-child" data-icon="solar:flame-bold"></span> HOT WORDS
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/obs-widgets/rotator.html">
                                <span class="iconify nav-icon-child"
                                    data-icon="material-symbols-light:rotate-90-degrees-ccw"></span> ROTATOR
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/obs-widgets/steam-welcome.html">
                                <span class="iconify nav-icon-child" data-icon="mdi:steam-box"></span> STEAM WELCOME
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/obs-widgets/stream-receipt.html">
                                <span class="iconify nav-icon-child"
                                    data-icon="material-symbols:receipt-long-outline"></span> STREAM RECEIPT
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/obs-widgets/vertical-chat.html">
                                <span class="iconify nav-icon-child"
                                    data-icon="ic:baseline-mark-unread-chat-alt"></span> VERTICAL CHAT
                            </a>
                        </li>
                    </ul>
                </li>
                <!------------------------------------------------------>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle">
                        <span class="iconify nav-icon" data-icon="material-symbols:instant-mix"></span> UTILITY
                        <span class="arrow">&#9662;</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ site.baseurl }}/utility/bluesky-and-sb.html">
                                <span class="iconify nav-icon-child" data-icon="tabler:brand-bluesky"></span> BLUESKY &
                                SB
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/channel-point-auction.html">
                                <span class="iconify nav-icon-child" data-icon="hugeicons:auction"></span>
                                CHANNEL POINT AUCTION
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/command-checker.html">
                                <span class="iconify nav-icon-child"
                                    data-icon="pepicons-print:exclamation-circle-off"></span>
                                COMMAND CHECKER
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/hugs.html">
                                <span class="iconify nav-icon-child"
                                    data-icon="fluent-emoji-flat:people-hugging"></span>
                                HUGS
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/live-trigger.html">
                                <span class="iconify nav-icon-child"
                                    data-icon="material-symbols-light:cast-connected"></span>
                                LIVE TRIGGER
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/lurks.html">
                                <span class="iconify nav-icon-child" data-icon="mdi:sleep"></span>
                                LURKS
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/mod-tools.html">
                                <span class="iconify nav-icon-child" data-icon="tabler:sword"></span>
                                MOD TOOLS
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/raffle.html">
                                <span class="iconify nav-icon-child" data-icon="arcticons:dicer1"></span>
                                RAFFLE
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/random-source-position.html">
                                <span class="iconify nav-icon-child" data-icon="tabler:arrows-random"></span>
                                RANDOM SOURCE POSITION
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/reward-discount.html">
                                <span class="iconify nav-icon-child" data-icon="tabler:discount"></span>
                                REWARD DISCOUNT
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/spotify-and-sb.html">
                                <span class="iconify nav-icon-child" data-icon="teenyicons:spotify-outline"></span>
                                SPOTIFY & SB
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/tts-queue.html">
                                <span class="iconify nav-icon-child" data-icon="tabler:diamond"></span>
                                TEMPORARY VIP
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/time-trigger.html">
                                <span class="iconify nav-icon-child" data-icon="hugeicons:alarm-clock"></span>
                                TIME TRIGGER
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/tts-queue.html">
                                <span class="iconify nav-icon-child" data-icon="lucide:speech"></span>
                                TTS QUEUE
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/user-birthdays.html">
                                <span class="iconify nav-icon-child" data-icon="iconoir:birthday-cake"></span>
                                USER BIRTHDAYS
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/utility/user-inventory.html">
                                <span class="iconify nav-icon-child" data-icon="ph:treasure-chest-light"></span>
                                USER INVENTORY
                            </a>
                        </li>
                    </ul>
                </li>
                <!------------------------------------------------------>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle">
                        <span class="iconify nav-icon" data-icon="bi:dice-6-fill"></span> CHAT GAMES
                        <span class="arrow">&#9662;</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ site.baseurl }}/chat-games/hot-potato.html">
                                <span class="iconify nav-icon-child" data-icon="mage:fire-b"></span>
                                HOT POTATO
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/chat-games/movie-and-tv-show-quiz.html">
                                <span class="iconify nav-icon-child" data-icon="fluent:movies-and-tv-16-regular"></span>
                                MOVIE & TV SHOW QUIZ
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/chat-games/quick-maths.html">
                                <span class="iconify nav-icon-child" data-icon="tabler:math-function"></span>
                                QUICK MATHS
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/chat-games/stardew-valley.html">
                                <span class="iconify nav-icon-child" data-icon="lucide-lab:farm"></span>
                                STARDEW VALLEY
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/commissions.html">
                        <span class="iconify nav-icon" data-icon="mynaui:euro-circle-solid"></span> COMMISSIONS
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header-right">

            <a href="https://discord.com/invite/gEm5UMSvYs" target="_blank" class="need-help">
                Need help? <span class="iconify" data-icon="simple-icons:discord"></span>
            </a <span id="status-indicator">...</span>





            <a href="https://bsky.app/profile/tawmae.xyz" target="_blank">
                <span class="iconify" data-icon="simple-icons:bluesky"></span>
            </a>
            <a href="https://www.twitch.tv/tawmae" target="_blank">
                <span class="iconify" data-icon="simple-icons:twitch"></span>
            </a>
            <a href="https://www.youtube.com/@tawmae" target="_blank">
                <span class="iconify" data-icon="simple-icons:youtube"></span>
            </a>
            <a href="https://ko-fi.com/tawmae" target="_blank">
                <script type="text/javascript" src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
                <script type="text/javascript">
                    kofiwidget2.init('Tip', '#455f8c', 'P5P7RA8SG');
                    kofiwidget2.draw();
                </script>
            </a>
        </div>
        <!------------------------------------------------------>
        <label for="mobile-menu-toggle" class="hamburger-icon">
            <span class="iconify" data-icon="mdi:menu"></span>
        </label>
        <input type="checkbox" id="mobile-menu-toggle" hidden>
        <div class="mobile-menu">
            <nav class="mobile-nav">
                <ul>
                    <li>
                        <a href="{{ site.baseurl }}/">
                            <span class="iconify nav-icon" data-icon="mdi:home"></span> START
                        </a>
                    </li>
                    <!------------------------------------------------------>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle"
                            onclick="this.parentElement.classList.toggle('active'); return false;">
                            <span class="iconify nav-icon" data-icon="simple-icons:obsstudio"></span> OBS WIDGETS
                            <span class="arrow">&#9662;</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site.baseurl }}/obs-widgets/ad-notification.html">
                                    <span class="iconify nav-icon-child" data-icon="ri:advertisement-fill"></span> AD
                                    NOTIFICATION
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/obs-widgets/basic-alerts.html">
                                    <span class="iconify nav-icon-child"
                                        data-icon="ic:baseline-notifications-active"></span> BASIC ALERTS
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/obs-widgets/dynamic-timers.html">
                                    <span class="iconify nav-icon-child" data-icon="solar:stopwatch-bold"></span>
                                    DYNAMIC TIMERS
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/obs-widgets/event-list.html">
                                    <span class="iconify nav-icon-child" data-icon="material-symbols:event-list"></span>
                                    EVENT LIST
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/obs-widgets/hot-words.html">
                                    <span class="iconify nav-icon-child" data-icon="solar:flame-bold"></span> HOT WORDS
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/obs-widgets/rotator.html">
                                    <span class="iconify nav-icon-child"
                                        data-icon="material-symbols-light:rotate-90-degrees-ccw"></span> ROTATOR
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/obs-widgets/steam-welcome.html">
                                    <span class="iconify nav-icon-child" data-icon="mdi:steam-box"></span> STEAM WELCOME
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/obs-widgets/stream-receipt.html">
                                    <span class="iconify nav-icon-child"
                                        data-icon="material-symbols:receipt-long-outline"></span> STREAM RECEIPT
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/obs-widgets/vertical-chat.html">
                                    <span class="iconify nav-icon-child"
                                        data-icon="ic:baseline-mark-unread-chat-alt"></span> VERTICAL CHAT
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!------------------------------------------------------>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle"
                            onclick="this.parentElement.classList.toggle('active'); return false;">
                            <span class="iconify nav-icon" data-icon="material-symbols:instant-mix"></span> UTILITY
                            <span class="arrow">&#9662;</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site.baseurl }}/utility/bluesky-and-sb.html">
                                    <span class="iconify nav-icon-child" data-icon="tabler:brand-bluesky"></span>
                                    BLUESKY & SB
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/channel-point-auction.html">
                                    <span class="iconify nav-icon-child" data-icon="hugeicons:auction"></span> CHANNEL
                                    POINT AUCTION
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/command-checker.html">
                                    <span class="iconify nav-icon-child"
                                        data-icon="pepicons-print:exclamation-circle-off"></span> COMMAND CHECKER
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/hugs.html">
                                    <span class="iconify nav-icon-child"
                                        data-icon="fluent-emoji-flat:people-hugging"></span> HUGS
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/live-trigger.html">
                                    <span class="iconify nav-icon-child"
                                        data-icon="material-symbols-light:cast-connected"></span> LIVE TRIGGER
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/lurks.html">
                                    <span class="iconify nav-icon-child" data-icon="mdi:sleep"></span> LURKS
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/mod-tools.html">
                                    <span class="iconify nav-icon-child" data-icon="tabler:sword"></span> MOD TOOLS
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/raffle.html">
                                    <span class="iconify nav-icon-child" data-icon="arcticons:dicer1"></span> RAFFLE
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/random-source-position.html">
                                    <span class="iconify nav-icon-child" data-icon="tabler:arrows-random"></span> RANDOM
                                    SOURCE POSITION
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/reward-discount.html">
                                    <span class="iconify nav-icon-child" data-icon="tabler:discount"></span> REWARD
                                    DISCOUNT
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/spotify-and-sb.html">
                                    <span class="iconify nav-icon-child" data-icon="teenyicons:spotify-outline"></span>
                                    SPOTIFY & SB
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/tts-queue.html">
                                    <span class="iconify nav-icon-child" data-icon="tabler:diamond"></span> TEMPORARY
                                    VIP
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/time-trigger.html">
                                    <span class="iconify nav-icon-child" data-icon="hugeicons:alarm-clock"></span> TIME
                                    TRIGGER
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/tts-queue.html">
                                    <span class="iconify nav-icon-child" data-icon="lucide:speech"></span> TTS QUEUE
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/user-birthdays.html">
                                    <span class="iconify nav-icon-child" data-icon="iconoir:birthday-cake"></span> USER
                                    BIRTHDAYS
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/utility/user-inventory.html">
                                    <span class="iconify nav-icon-child" data-icon="ph:treasure-chest-light"></span>
                                    USER INVENTORY
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!------------------------------------------------------>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle"
                            onclick="this.parentElement.classList.toggle('active'); return false;">
                            <span class="iconify nav-icon" data-icon="bi:dice-6-fill"></span> CHAT GAMES
                            <span class="arrow">&#9662;</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site.baseurl }}/chat-games/hot-potato.html">
                                    <span class="iconify nav-icon-child" data-icon="mage:fire-b"></span> HOT POTATO
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/chat-games/movie-and-tv-show-quiz.html">
                                    <span class="iconify nav-icon-child"
                                        data-icon="fluent:movies-and-tv-16-regular"></span> MOVIE & TV SHOW QUIZ
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/chat-games/quick-maths.html">
                                    <span class="iconify nav-icon-child" data-icon="tabler:math-function"></span> QUICK
                                    MATHS
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/chat-games/stardew-valley.html">
                                    <span class="iconify nav-icon-child" data-icon="lucide-lab:farm"></span> STARDEW
                                    VALLEY
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/commissions.html">
                            <span class="iconify nav-icon" data-icon="mynaui:euro-circle-solid"></span> COMMISSIONS
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="mobile-social">
                <a href="https://discord.com/invite/gEm5UMSvYs" target="_blank" class="need-help">
                    Need help? <span class="iconify" data-icon="simple-icons:discord"></span>
                </a>


                <a href="https://bsky.app/profile/tawmae.xyz" target="_blank">
                    <span class="iconify" data-icon="simple-icons:bluesky"></span>
                </a>
                <a href="https://www.twitch.tv/tawmae" target="_blank">
                    <span class="iconify" data-icon="simple-icons:twitch"></span>
                </a>
                <a href="https://www.youtube.com/@tawmae" target="_blank">
                    <span class="iconify" data-icon="simple-icons:youtube"></span>
                </a>
                <a href="https://ko-fi.com/tawmae" target="_blank">
                    <script type="text/javascript" src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
                    <script type="text/javascript">
                        kofiwidget2.init('Tip', '#455f8c', 'P5P7RA8SG');
                        kofiwidget2.draw();
                    </script>
                </a>
            </div>
        </div>
    </header>
</body>

</html>
