:root {
  --container-width: 1600px;
  --bg-glass: rgba(255, 255, 255, 0.05);
  --border-glass: rgba(255, 255, 255, 0.2);
  --transition-time: 0.4s;
  --accent-color: #455f8c;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  background: url("/assets/page-design/background-3.webp") no-repeat center center fixed;
  background-size: cover;
}

.extension-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: var(--container-width);
  margin-bottom: 50px;
}

.extension-title-text-box {
  min-width: 300px;
  background: var(--bg-glass);
  border-radius: 12px;
  padding: 30px;
  text-align: left;
  border: 1px solid var(--border-glass);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  flex: 1;
  max-width: 40%;
  overflow-wrap: break-word;
}

.extension-title-text-box-long {
  min-width: 300px;
  background: var(--bg-glass);
  border-radius: 12px;
  padding: 30px;
  border: 1px solid var(--border-glass);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  flex: 1;
  max-width: 80%;
  overflow-wrap: break-word;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.extension-image {
  width: 800px;
  height: auto;
  border: 1px solid var(--border-glass);
  transition: transform var(--transition-time) ease-in-out;
  flex: 1;
  max-width: 60%;
}

.extension-image:hover {
  transform: scale(1.03);
}

.accordion {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.accordion-item {
  padding: 15px;
  width: 100%;
  transition: background-color 0.3s;
  background: var(--bg-glass);
  border-radius: 12px;
  border: 1px solid var(--border-glass);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.accordion-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 0;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.accordion-header:hover {
  transform: scale(1.01);
}

.accordion-header:hover span {
  color: var(--accent-color);
}

.accordion-header:hover .accordion-icon,
.accordion-header:hover .title-icon {
  color: var(--accent-color);
  transform: scale(1.1);
}

.accordion-icon,
.title-icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.accordion-icon {
  font-size: 1.5rem;
  margin-left: 10px;
}

.accordion-content {
  padding-top: 10px;
  font-size: 1.1rem;
  display: none;
  margin-top: 10px;
  background: transparent;
  border-radius: 5px;
}

.accordion-content p {
  margin: 0;
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: left;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  text-align: left;
}

p {
  font-size: 1.1rem;
  color: #ccc;
  text-align: left;
}

.accordion-divider {
  border-bottom: 1px solid var(--border-glass);
  margin: 10px 0;
}

.copy-box {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: var(--container-width);
  border: 1px solid var(--border-glass);
  border-radius: 8px;
  padding: 10px;
  background: var(--bg-glass);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-self: center;
  margin: 0 auto;
}

.copy-text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  padding-right: 10px;
  font-family: 'Poppins', sans-serif;
}

.copy-btn {
  background-color: var(--accent-color);
  color: #fff;
  padding: 5px 15px;
  border: 1px solid var(--border-glass);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Poppins', sans-serif;
}

.copy-btn:hover {
  transform: scale(1.05);
  background-color: #384b6b;
}

.copy-btn .iconify {
  margin-right: 8px;
}

.copied {
  background-color: #4caf50 !important;
  font-weight: bold;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

/*.description-container a {
  display: block;
  margin: 0 auto;
}*/

.extension-image-2 {
  width: 800px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--border-glass);
  transition: transform var(--transition-time) ease-in-out;
  transform-origin: center center;
  margin: 0 auto;
}

.extension-image-2:hover {
  transform: scale(1.05);
}

.title-icon {
  margin-right: 10px;
}

.customization-text-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.extension-table {
  width: 100%;
  border-collapse: collapse;
  background: var(--bg-glass);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid var(--border-glass);
  margin-top: 20px;
}

.extension-table th,
.extension-table td {
  padding: 12px;
  text-align: left;
}

.extension-table th {
  background-color: var(--accent-color);
  opacity: 0.9;
  font-weight: bold;
}

.extension-table tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.08);
}

.extension-table tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.05);
}

.settings-ui-container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  max-width: var(--container-width);
}

.settings-ui-image {
  width: 400px;
  height: auto;
  border: 1px solid var(--border-glass);
  transition: transform var(--transition-time) ease-in-out;
  flex: 1;
  max-width: 60%;
}

.settings-ui-image:hover {
  transform: scale(1.05);
}

.extension-example-image {
  width: 866px !important;
  height: 228px !important;
  display: block !important;
  margin: 0 auto !important;
  border: 1px solid var(--border-glass);
  transition: transform var(--transition-time) ease-in-out;
}

.extension-example-image:hover {
  transform: scale(1.03);
}



.ws-iframe {
    width: 100%;
    max-width: 400px; 
    height: 200px;
    border: none;
    overflow: hidden;
    display: block;
    margin: 0 auto; 
}

@media (max-width: 768px) {
  .extension-title,
  .settings-ui-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding-inline: 10px;
  }
  .extension-title .extension-title-text-box,
  .settings-ui-container .extension-title-text-box{
    order: 1;
    max-width: 100%;
  }
  .extension-image {
    max-width: 100%;
    width: 100%;
    order: 2;
  }
  .accordion,
  .copy-box,
  .description-container,
  .customization-text-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .description-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .extension-image-2 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
  .customization-text-container {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
  .extension-title-text-box-long {
    width: 100%;
    max-width: 100%;
  }
  .settings-ui-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    order: 2;
  }

  .ws-iframe {
        max-width: 100%; 
        margin-left: 0;
        overflow: visible;
    }
}

@media (max-width: 480px) {
  .extension-title h1 {
    font-size: 2rem;
  }
  .extension-title p {
    font-size: 1rem;
  }
  .accordion-header {
    font-size: 1.2rem;
  }
}
