.extension-title {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.black-text-box {
  width: 100%;
  max-width: 400px;
  opacity: 0.95;
  background-color: #111;
  border-radius: 12px;
  padding: 30px 40px;
  text-align: left;
}

.extension-image {
  width: 800px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  transition: transform 0.4s ease-in-out;
  transform-origin: center center;
}

.extension-image:hover {
  transform: scale(1.03);
}

.accordion {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.accordion-item {
  padding: 15px;
  width: 100%;
  transition: background-color 0.3s;
}

.accordion-header {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 0;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.accordion-header:hover {
  transform: scale(1.01); 
}

.accordion-header:hover span {
  color: #455f8c; 
}

.accordion-header:hover .accordion-icon, 
.accordion-header:hover .title-icon {
  color: #455f8c; 
  transform: scale(1.1); 
}

.accordion-icon, .title-icon {
  transition: transform 0.3s ease, color 0.3s ease; 
}

.accordion-icon {
  font-size: 1.5rem;
  color: white;
  transition: transform 0.3s;
  margin-left: 10px;
}

.accordion-content {
  padding-top: 10px;
  color: white;
  font-size: 1.1rem;
  display: none;
  margin-top: 10px;
  background: transparent;
  border-radius: 5px;
}

.accordion-content p {
  margin: 0;
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: white;
  text-align: left;
}

p {
  font-size: 1.1rem;
  color: #ccc;
  text-align: left;
}

.accordion-divider {
  border-bottom: 1px solid #444;
  margin: 10px 0;
}

.copy-box {
  display: flex;
  align-items: center;
  width: 1200px;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
  background-color: #111;
  opacity: 0.95;
  justify-content: center;  
}

.copy-text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  padding-right: 10px;
  font-family: 'Poppins', sans-serif;  /*'Fira Code', monospace;*/
}

.copy-btn {
  background-color: #455f8c;
  color: white;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: 'Poppins', sans-serif;  
}

.copy-btn:hover {
  transform: scale(1.05);
  background-color: #384B6B;
}

.copy-btn .iconify {
  margin-right: 8px;
}

.copied {
  background-color: #4CAF50 !important;
  font-weight: bold;
}


.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px; 
  padding-bottom: 20px;
}

.black-text-box-2 {
  flex: 1; 
  background-color: #111;
  color: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 0; 
}

.extension-image-2 {
  width: 600px; 
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  flex-shrink: 0; 
  transition: transform 0.4s ease-in-out;
  transform-origin: center center;
}

.extension-image-2:hover {
  transform: scale(1.05);
}

.title-icon {
  margin-right: 10px;
}

.customization-text-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.black-text-box-3,
.black-text-box-4{
  flex: 1; 
  background-color: #111;
  color: white;
  padding: 20px;
  border-radius: 8px;
  height: 170px;
}

.black-text-box-5,
.black-text-box-6{
  flex: 1; 
  background-color: #111;
  color: white;
  padding: 20px;
  border-radius: 8px;
  height: 165px;
}

.black-text-box-5,{
  text-wrap: nowrap;
}

.extension-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #111;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.extension-table th, .extension-table td {
  padding: 12px;
  text-align: left;
}

.extension-table th {
  background-color: #455f8c;
  opacity: 0.9;
  font-weight: bold;
}

.extension-table tr:nth-child(even) {
  background-color: #171616;
}

.extension-table tr:nth-child(odd) {
  background-color: #1f1d1d;
}

.settings-ui-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
  gap: 20px;
  padding-bottom: 20px;
}

.black-text-box-7 {
  background-color: #111;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px; 
}

.settings-ui-image {
  width: 600px; 
  height: auto; 
  border: 1px solid black;
  flex-shrink: 0;
  transition: transform 0.4s ease-in-out;
  transform-origin: center center;
}

.settings-ui-image:hover {
  transform: scale(1.05);
}

.black-text-box-long{
  flex: 1; 
  background-color: #111;
  color: white;
  padding: 15px;
  border-radius: 8px;
  height: 90px;
}

.extension-example-image {
  flex: 1;
  width: 866px !important; 
  height: 228px !important;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  flex-shrink: 0; 
  transition: transform 0.4s ease-in-out;
  transform-origin: center center;
}

.extension-example-image:hover {
  transform: scale(1.05);
}
